.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px;
    background-color: #333;
    color: white;
    max-height: 64px;
    /* we are only focusing on the design for phones and tablets */
    max-width: 768px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
}

.page-header-title-wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
}

.page-header h1 {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: white;    
    margin: 0;
}