.movie-title {
    width: 100%;
    max-height: 56px;
    padding: 16px;
    background-color: #746A64;
    position: fixed;
    top: 64px;
    left: 0;
    right: 0;
}

.movie-title h1 {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin: 0;
    color: white
}

.movie-details-container {
    background-color: white;
    height: max-content;
    padding: 24px;
    display: flex;
    flex-direction: column;
    margin-top: 58px;
    overflow-y: scroll;
    gap: 24px;
}

.movie-details-container h1 {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #212121;
    margin: 0;
}

.movie-details-container h2 {
    font-family: Roboto;
    font-size: 14px;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #212121;
    margin: 0;
}

.movie-info-row {
    display: flex;
    gap: 16px;

    .movie-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0;
        width: 100%;
    }

    .movie-info button {
        margin-top: 16px;
        height: 56px;
        background-color: #746A64;
        width: 100%;
        border-radius: 2px;
        color: white;
        font-family: Roboto;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
    }
}

.movie-info-row img {
    width: 30.6vw;
    height: auto;
}

.movie-overview p{
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color:#757575;
    margin: 0;
}

.movie-trailers {
    display: flex;
    flex-direction: column;
}

.movie-trailers header{
    width: 100%;
    border-bottom: 1px solid #DEDEDE;
    padding-bottom: 3px;
    margin-bottom: 16px;
}

.trailers-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

