#root {
  margin: 0 auto;
  text-align: center;
}

.content-wrapper {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  overflow: hidden;
  margin: 0;
  height: calc(100% - 64px);
  /* we are only focusing on the design for phones and tablets */
  max-width: 768px;
  padding-top: 64px;

}

.bold {
  font-weight: 700;
}

.regular500 {
  font-weight: 500;
}

.regular {
  font-weight: 400;
}

.italic {
  font-style: italic;
}